.logo {
  width: 100%; height: 300px;
}

.page-container {
  max-width: 320px; min-height: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-color: #EFEFEF;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 10px;
}
.btn, .btn:active, .btn:focus, .btn:visited {
  color: black;
}
.btn-full {
  width: 100%;
}

.link {
  display: inline-block;
}
.link-plain {
  text-decoration: none;
}
.link-plain, .link-plain:active, .link-plain:focus, .link-plain:visited {
  color: black;
}

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.nonogram {
  display: flex; flex-direction: column; justify-content: space-around;
}
.nonogram,
.nonogram * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
}

/* ^counter */
.nonogram-counter {
  color: #999;
  margin-bottom: 20px;
  text-align: right;
}
.nonogram-counter .error {
  color: red;
  font-weight: bold;
}

/* ^action */
.nonogram-action {
  margin-bottom: 10px;
  text-align: right;
}
.nonogram-action button:not(:first-of-type) {
  margin-left: 5px;
}

/* ^game */
.nonogram-game {
  display: flex; justify-content: center;
  margin-bottom: 10px;
}

/* ^Indicator */
.nonogram-indicator-panel {
  display: flex; flex-wrap: nowrap; align-items: flex-end;
}
.nonogram-indicator-panel.col {
  flex-grow: 1;
}
.nonogram-indicator-panel.row {
  flex-direction: column; justify-content: flex-end;
}
.nonogram-indicator {
  display: flex;
  flex-wrap: nowrap;
  min-width: 50px; min-height: 50px;
}
.nonogram-indicator.col {
  border-left: 1px solid transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.nonogram-indicator.row {
  border-top: 1px solid transparent;
  justify-content: flex-end;
}

.nonogram-indicator-item {
  display: flex; justify-content: center; align-items: center;
  padding-left: 4px; padding-right: 4px;
}

/* ^Board */
.nonogram-row {
  display: flex; flex-wrap: nowrap;
}

.nonogram-cell {
  border: 1px solid black;
  display: inline-block;
  font-size: 40px; line-height: 50px;
  width: 50px; height: 50px;
  text-align: center;
}
.nonogram-cell:not(:last-child) {
  border-right: none;
}
.nonogram-row:not(:last-child) .nonogram-cell {
  border-bottom: none;
}

.nonogram-cell.checked {
  background-color: black;
}
.nonogram-cell.excluded:before {
  content: '✖';
}

/* ^Lightbox */
.nonogram-lightbox {
  background-color: #FAFAFA;
  border: 1px solid black;
  box-sizing: border-box;
  position: fixed; top: 20%; left: calc((100% - 300px) / 2);
  padding: 30px;
  text-align: center;
  width: 300px;
}
.nonogram-lightbox.hide {
  display: none;
}
